APP_PORT=8080
# 极空间存储根路径，容器挂载后可访问该路径下所有目录
NAS_ROOT=/tmp/zfsv3
# 初始扫描目录和目标目录（必须在 NAS_ROOT 下）
SOURCE_DIR=/tmp/zfsv3/sda1/data/source
TARGET_DIR=/tmp/zfsv3/sda1/data/target
MAX_CONCURRENCY=3
TZ=Asia/Shanghai
CPU_LIMIT=2.0
MEMORY_LIMIT=1G
